<ion-header>
  <ion-toolbar>
    <ion-title>CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Digite o CEP</ion-label>
    <ion-input [(ngModel)]="cep" type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="buscarCEP()">CONSULTAR</ion-button>

  <div *ngIf="endereco">
    <p><strong>logradouro:</strong> {{ endereco.logradouro }}</p>
    <p><strong>bairro:</strong> {{ endereco.bairro }}</p>
    <p><strong>Cidade:</strong> {{ endereco.localidade }}</p>
    <p><strong>estado:</strong> {{ endereco.uf }}</p>
  </div>

</ion-content>
